<!DOCTYPE html>
<html lang="en">

    <%- include('./includes/head.ejs') %>

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
    <div id="page">

        <!-- Preloader-->
        <div class="preloader"></div>

        <!-- topbar -->
<%- include('./includes/top-nav.ejs') %>
        <!-- topbar end -->

        <!-- masthead -->
         <%- include('./includes/header.ejs') %>
        <!-- masthead end -->

        <!--Page Header-->
        <div class="page-header title-area">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="page-title">FAQ’S</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                            <nav class="breadcrumb">
                                <a class="home" href="#"><span>Home</span></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>FAQ’S</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Header end-->

        <!--faq pagesec-->
        <section class="faqpagesec secpadd">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="servdtlaccord margbtm40">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading active-panel">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									  What is the procedure to join with company?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									  Do you give any offer for premium customer?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									  What makes you special from others?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
									  Why Would a Successful Entrepreneur Hire a Coach?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapsefour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse5">
									  What makes your financial projects special?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse6">
									 How long will take us to raise capital?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse7">
									 Can I offer my items for free on a promotional basis?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapse7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse8">
									 How to buy full package of business hub?
									</a>
                                        </h4>
                                    </div>
                                    <div id="collapse8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="fh-section-title clearfix f25  text-left version-dark paddbtm20">
                            <h2>ASK YOUR QUESTIONS</h2>
                        </div>
                        <form>
                            <div class="fh-form fh-form-2">
                                <p class="field">
                                    <input placeholder="Name*" type="text">
                                </p>
                                <p class="field">
                                    <input placeholder="Email*" type="email">
                                </p>
                                <p class="field">
                                    <input placeholder="Subject" type="text">
                                </p>
                                <p class="field single-field">
                                    <textarea placeholder="Ask your questions..."></textarea>
                                </p>
                                <p class="field submit">
                                    <input value="Submit" class="fh-btn" type="submit">
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--faqpagesec end-->

        <!--footer sec-->
       <%- include('./includes/footer.ejs') %>
        <!--footer sec end-->

        
    </div>
    <!--End pagewrapper-->

    <!--primary-mobile-nav-->
<%- include('./includes/mobile-nav.ejs') %>
    <!--primary-mobile-nav end-->

    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-sliders"></div>
        <div class="form_holder">
            <h3 class="demo-title">Customize CargoHub</h3>

            <div class="line"></div>
            <p>Color Scheme</p>
            <div class="predefined_styles" id="styleswitch_area">
                <a href="?default=true" data-rel="default" class="styleswitch" style="background:#ff0000;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="navy-darkblue" class="styleswitch" style="background:#00baff;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="orange-black" class="styleswitch" style="background:#ee6012;border-right-color: #202020;border-bottom-color: #202020"></a>
                <a href="#" data-rel="yellow-blue" class="styleswitch" style="background:#f6a604;border-right-color: #0032ab;border-bottom-color: #0032ab"></a>
            </div>
            <div class="line"></div>
        </div>
    </div>


    <%- include('./includes/loadScript.ejs') %>
</body>

</html>