<!DOCTYPE html>
<html lang="en">

    <%- include('./includes/head.ejs') %>

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
    <div id="page">

        <!-- Preloader-->
        <div class="preloader"></div>

        <!-- topbar -->
        <%- include('./includes/top-nav.ejs') %>
        <!-- topbar end -->

        <!-- masthead -->
         <%- include('./includes/header.ejs') %>
        <!-- masthead end -->

        <!--Page Header-->
        <div class="page-header title-area">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="page-title">Track Your Shipment</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                            <nav class="breadcrumb">
                                <a class="home" href="#"><span>Home</span></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Track Your Shipment</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Header end-->

        <!--Track Your Shipment -->
        <section class="tracksipment secpadd">
            <div class="container">
                <div class="row quote1top">
                    <div class="col-md-8">
                        <div class="fh-section-title clearfix f30  text-left version-dark paddbtm40">
                            <h2>Track Your Shipment</h2>
                        </div>
                        <p>If you require maximum visibility to your Freight transactions, contact our logistic customer team or you can track your cargo by using below tracking system.</p>
                        <!-- <div class="row paddtop30">
                            <div class="col-sm-9">
                                <form class="track-form" action="Track" method="POST">
                                    <div class="fh-form track-form">
                                        <div>
                                          
                                        <div>
                                            <label>Tracking Num<span class="require">*</span></label>
                                            <p class="field">
                                                <input placeholder="Eg: AWB Num or CB Num" id="track_code" name="track_code" type="text" >
                                            </p>
                                        </div>
                                        
                                        <p class="submit">
                                            <input value="Track Now" class="fh-btn" type="submit">
                                        
                                      
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
     
    </div>
    </div>
    </section>

    <% if (result.length > 0) { %>
        <% for (let details of result ) { %>
            <table class="table table-dark">
                <thead>
                  
                  <tr>
          
                   
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td><%= details.receivers_name %></td>
                    <td><%= details.receivers_address %></td>
                    <td><%= details.senders_name %></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td><%= details.item_type %></td>
                    <td><%= details.item_weight %></td>
                    <td><%= details.parcel_color %></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><%= details.package_status %></td>
                    <td><%= details.package_content %></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td><%= details.arrival_country %></td>
                    <td><%= details.logistic_detail %></td>
                    <td><%= details.checkpoints %></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td><%= details.created_at%></td>
                    <td><%= details.updated_at %></td>
                    <td><%= details.track_code %></td>
                    <td>

                    </tr>
                </tbody>
              </table>
              <% } %>
            </div>
          </div>
          <% } else { %>
            <h1>No Tracker Found!</h1>
            <% } %>
        <!--Track Your Shipment end -->

        <!--footer sec-->
       <%- include('./includes/footer.ejs') %>
        <!--footer sec end-->

        
    </div>
    <!--End pagewrapper-->

    <!--primary-mobile-nav-->
    <%- include('./includes/mobile-nav.ejs') %>
    <!--primary-mobile-nav end-->

    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-sliders"></div>
        <div class="form_holder">
            <h3 class="demo-title">Customize CargoHub</h3>

            <div class="line"></div>
            <p>Color Scheme</p>
            <div class="predefined_styles" id="styleswitch_area">
                <a href="?default=true" data-rel="default" class="styleswitch" style="background:#ff0000;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="navy-darkblue" class="styleswitch" style="background:#00baff;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="orange-black" class="styleswitch" style="background:#ee6012;border-right-color: #202020;border-bottom-color: #202020"></a>
                <a href="#" data-rel="yellow-blue" class="styleswitch" style="background:#f6a604;border-right-color: #0032ab;border-bottom-color: #0032ab"></a>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <%- include('./includes/loadScript.ejs') %>
</body>

</html>