<!DOCTYPE html>
<html lang="en">

    <%- include('../includes/head.ejs') %>

   

<body class="home header-transparent  header-sticky header-v1 hide-topbar-mobile">
    <div id="page">

        <!-- Preloader-->
        <div class="preloader"></div>

        <!-- topbar -->
<%- include('../includes/top-nav.ejs') %>
        <!-- topbar end -->

        <!-- masthead -->
       
        <%- include('../includes/header.ejs') %>

        <!-- masthead end -->

        <!--Page Header-->
        <div class="page-header title-area">
            <div class="header-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1 class="page-title">Warehousing</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12 site-breadcrumb">
                            <nav class="breadcrumb">
                                <a class="home" href="#"><span>Home</span></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Warehousing</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Page Header end-->

        <!--services Welcome sec -->
        <div class="service_dtl1 secpadd">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget services-menu-widget">
                            <h4 class="widget-title">Our Services</h4>
                            <ul class="menu service-menu">
                                <li><a href="#">See All Services</a></li>
                                <li class="menu-item"><a href="#">Road Freight Forwarding</a></li>
                                <li class="menu-item "><a href="#">Ocean Freight Forwarding</a></li>
                                <li class="menu-item "><a href="#">Air Freight Forwarding</a></li>
                                <li class="menu-item current-menu-item"><a href="#">Warehousing</a></li>
                                <li class="menu-item "><a href="#">Door to Door Delivery</a></li>
                                <li class="menu-item "><a href="#">Ground Transport</a></li>
                            </ul>
                        </div>

                        <div class="widget_text widget widget_custom_html">
                            <h4 class="widget-title">Our Brochures</h4>
                            <div class="textwidget custom-html-widget">
                                <div class="download">
                                    <div class="item-download">
                                        <a href="#" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Service Brochure.Pdf</a>
                                    </div>
                                    <div class="item-download">
                                        <a href="#" target="_blank"><i class="fa fa-file-word-o" aria-hidden="true"></i>About Company.Doc</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget_text widget widget_custom_html">
                            <h4 class="widget-title">Contact Us</h4>
                            <div class="textwidget custom-html-widget">
                                <div class="cargo-contact-widget">
                                    <div class="detail address">
                                        <i class="flaticon-signs"></i>
                                        <h5>Visit our office</h5>
                                        <p>244, Cargo Hub, Los Angeles,</p>
                                        <p>California- 90005</p>
                                    </div>

                                    <div class="detail phone">
                                        <i class="flaticon-phone-call"></i>
                                        <h5>Call us on</h5>
                                        <p>Office: +44 567 890123</p>
                                        <p>Tollfree: 1800-123-45-6789</p>
                                    </div>

                                    <div class="detail email">
                                        <i class="flaticon-message-1"></i>
                                        <h5>Mail Us at</h5>
                                        <p>Mailus@CargoHub.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="servdtlimg margbtm30">
                            <img src="images/services/dtlbig-1.jpg" alt="" />
                        </div>
                        <div class="row paddsec">
                            <div class="col-md-6">
                                <div class="abotinforgt">
                                    <div class="fh-section-title clearfix f25  text-left version-dark paddbtm40">
                                        <h2>Description</h2>
                                    </div>

                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you complete account of the system, and expound the actual teachings of the great explorer seds of the
                                        truth, the master-builder of human happiness pleasure and praising system one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="abotimglft">
                                    <img src="images/services/single-service-i.png" class="img-responsive">
                                </div>
                            </div>
                        </div>
                        <hr class="margtb40">
                        <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                            <h2>Safety Transportation</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fh-service-box-2   box-style-1  no-thumb">
                                    <div class="box-thumb"></div>
                                    <div class="box-wrapper">
                                        <div class="box-header clearfix"><span class="fh-icon"><i class="flaticon-transport-7"></i></span>
                                            <h4 class="box-title">Full Container Load</h4><span class="sub-title main-color">Cargo Hub Ocean Direct</span></div>
                                        <div class="box-content">
                                            <p>There anyone who loves or pursue desire to obtain pains of itself, because it is pain, but occasionally circumstances.</p>
                                            <ul>
                                                <li>Consignee direct delivery</li>
                                                <li>Suitable for all kinds of commodities</li>
                                                <li>Tailored alternatives available</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="fh-service-box-2  box-style-1  no-thumb">
                                    <div class="box-thumb"></div>
                                    <div class="box-wrapper">
                                        <div class="box-header clearfix"><span class="fh-icon"><i class="flaticon-transport-10"></i></span>
                                            <h4 class="box-title">Less than Container</h4><span class="sub-title main-color">Cargo Hub Ocean Direct</span></div>
                                        <div class="box-content">
                                            <p>There anyone who loves or pursue desire to obtain pains of itself, because it is pain, but occasionally circumstances.</p>
                                            <ul>
                                                <li>Consignee direct delivery</li>
                                                <li>Suitable for all kinds of commodities</li>
                                                <li>Tailored alternatives available</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                            <h2>Benefits of Service</h2>
                        </div>
                        <div class="servdtlaccord margbtm40">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading active-panel">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										  Fast Worldwide delivery
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										  End-to-end solution available
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										  Safety & Compliance
										</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because seds those who do not know how to pursue pleasure.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fh-section-title f20 clearfix  text-left version-dark paddbtm40">
                            <h2>Words From Partners</h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12 delservtest">
                                <div class="fh-testimonials-grid fh-testimonials ">
                                    <div class="testi-list row">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="testi-item">
                                                <span class="testi-icon"><i class="flaticon-quotations "></i></span>
                                                <div class="testi-content">
                                                    <div class="testi-star">
                                                        <i class="fa fa-star fa-md"></i>
                                                        <i class="fa fa-star fa-md"></i>
                                                        <i class="fa fa-star fa-md"></i>
                                                        <i class="fa fa-star fa-md"></i>
                                                        <i class="fa fa-star fa-md"></i>
                                                    </div>
                                                    <div class="testi-des">These guys are just the coolest company ever! They were aware of our transported for road and tail and well as complex transport services.</div>
                                                    <div class="info clearfix">
                                                        <span class="testi-name">Magdelana Donowan</span>
                                                        <span class="testi-job">CFD Engineer</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="fh-partner clearfix margbtm30">
                                    <div class="list-item partener_slide2">
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client1.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client2.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client3.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client4.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fh-partner clearfix">
                                    <div class="list-item  partener_slide2">
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client4.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client3.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client2.png"></a>
                                            </div>
                                        </div>
                                        <div class="partner-item">
                                            <div class="partner-content">
                                                <a href="#" target="_self"><img alt="" src="images/partener/client1.png"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Welcome sec   end-->

        <!--footer sec-->
        <%- include('../includes/footer.ejs') %>
        <!--footer sec end-->

        
    </div>
    <!--End pagewrapper-->

    <!--primary-mobile-nav-->
<%- include('../includes/mobile-nav.ejs') %>
    <!--primary-mobile-nav end-->

    <!--Scroll to top-->
    <a id="scroll-top" class="backtotop" href="#page-top"><i class="fa fa-angle-up"></i></a>

    <!--Color switcher-->
    <div class="demo_changer" id="demo_changer">
        <div class="demo-icon fa fa-sliders"></div>
        <div class="form_holder">
            <h3 class="demo-title">Customize CargoHub</h3>

            <div class="line"></div>
            <p>Color Scheme</p>
            <div class="predefined_styles" id="styleswitch_area">
                <a href="?default=true" data-rel="default" class="styleswitch" style="background:#ff0000;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="navy-darkblue" class="styleswitch" style="background:#00baff;border-right-color: #0c1239;border-bottom-color: #0c1239"></a>
                <a href="#" data-rel="orange-black" class="styleswitch" style="background:#ee6012;border-right-color: #202020;border-bottom-color: #202020"></a>
                <a href="#" data-rel="yellow-blue" class="styleswitch" style="background:#f6a604;border-right-color: #0032ab;border-bottom-color: #0032ab"></a>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <%- include('../includes/loadScript.ejs') %>
</body>

</html>